<template name="prices">
	<div class="pricesPage">
		
		{{> staticHeader}}
		<!-- Below is the header control including text -->

		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Start learning today,</small>
						Sign up for Injectronics
					</h2>
				</div>


			</div>
        
		</div>

		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
        <!-- Below is the form for the classes -->
        
						<!--Column One -->
						<ul class="col-md-6 columns feature-column" data-markup-duplicate="">

							<li class="plan-row features-title">
								<span>Features</span>
							</li>

							<li class="plan-row">
								2 week access to course material, anytime, anywhere.
							</li>

							<li class="plan-row">
								Injectronics Members Forum
							</li>

							<li class="plan-row">
								Access to our real-time testing service.
							</li>

							<li class="plan-row">
								Full Access to all course material for a year.
							</li>

							<li class="plan-row">
								Fee
							</li>
							<li class="plan-row">
								If you have any questions about pricing, please email sales@injectronics.com.
							</li>

						</ul>

						<!--Column Two -->
						<ul class="col-md-3 columns silver-column">

							<li class="plan-row plan-title">Course Pass</li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-ex ff-move">×</span></li>

							<li class="plan-row monthly-price">$50</li>

							<li class="plan-row cta"><a href="#" class="btn btn-success btn-lg btn-sign" id="silver-signup-link">Sign Up</a>
							</li>
						</ul>

						<div class="one-fifth columns mobile-plans-container">

							<!-- Column Three -->
							<ul class="col-md-3 columns gold-column">

								<li class="plan-row plan-title">
									Full-Access
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row monthly-price">
									$600
								</li>

								<li class="plan-row cta">
									<a href="#" class="btn btn-success btn-lg btn-sign" id="gold-signup-link">
										Sign Up
									</a>
								</li>
							</ul>

							<!-- / Empty list -->

						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="section secondary-content faq-header">

			<div class="container">
				
				<div class = "row">	
					<div class="col-xs-12">
						<h3 class="text-centered">
							Questions and Answers
						</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Will I need additional books/tools?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>Am I tied to a contract?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>

					<div class="col-md-6">
						<p class="faq-text">
							<strong>Where can I use the certification?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>How often do you release new content?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

							<p class="faq-text">
							<strong>What kind of skills do I need to use Injectronics?</strong>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>

				</div>
			
				
			</div>

		</div>

		{{> footer}}
	</div>
</template>