<template name="prices">
	<div class="pricesPage">
		
		{{> staticHeader}}
		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Start learning today,</small>
						Sign up for Injectronics
					</h2>
				</div>


			</div>

		</div>

		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">

						<!--Column One -->
						<ul class="col-md-6 columns feature-column" data-markup-duplicate="">

							<li class="plan-row features-title">
								<span>Features</span>
							</li>

							<li class="plan-row">
								Learn complete projects with access to 1000+ videos
							</li>

							<li class="plan-row">
								Practice in real time with our Code Challenge Engine™
							</li>

							<li class="plan-row">
								Exclusive Treehouse Members Forum
							</li>

							<li class="plan-row">
								Conference Talks by Leading Industry Professionals
							</li>

							<li class="plan-row">
								<i class="foundicon-video"></i>
								<a href="#" class="featurette" data-captions="/videos/1292/captions" data-featurette="video-modal-trigger" data-poster="https://wpc.A8B5.edgecastcdn.net/80A8B5/treehouse/stills/TH-Highlights-Workshops-stills-0.jpg?514809d2869d73b56fd93d125510035500c5c9da011d1715abd519c3a4a4a7d1ef9d" data-src="https://wpc.A8B5.edgecastcdn.net/80A8B5/treehouse/videos/TH-Highlights-Workshops-534.mp4?514809d2869d73b56fd93d125510035500c5c9da011d1715abd519c3a4a4a7d1ef9d" data-target="video-modal" id="featurette-1">
									Cutting-edge workshops<span class="show-for-large"> on technology</span>
								</a>
							</li>

							<li class="plan-row yearly">
								Yearly Subscription
							</li>

							<li class="plan-row monthly">
								Monthly Subscription
							</li>

							<li class="plan-row contact-alternate">
								Looking for a group membership?<br>Email us at <a href="mailto:sales@teamtreehouse.com">sales@teamtreehouse.com</a>
							</li>
						</ul>

						<!--Column Two -->
						<ul class="col-md-3 columns silver-column">

							<li class="plan-row plan-title">Silver</li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-circle"></span></li>

							<li class="plan-row"><span class="icon-ex ff-move">×</span></li>

							<li class="plan-row"><span class="icon-ex">×</span></li>

							<li class="plan-row annual-price">$250</li>

							<li class="plan-row monthly-price">$25</li>

							<li class="plan-row cta"><a href="#" class="btn btn-success btn-lg btn-sign" id="silver-signup-link">Sign Up</a>
							</li>
						</ul>

						<div class="one-fifth columns mobile-plans-container">

							<!-- Column Three -->
							<ul class="col-md-3 columns gold-column">

								<li class="plan-row plan-title">
									Gold
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row">
									<span class="icon-circle"></span>
								</li>

								<li class="plan-row annual-price">
									$490
								</li>

								<li class="plan-row monthly-price">
									$49
								</li>

								<li class="plan-row cta">
									<a href="https://teamtreehouse.com/subscribe/new?plan=3" class="btn btn-success btn-lg btn-sign" id="gold-signup-link">
										Sign Up
									</a>
								</li>
							</ul>

							<!-- / Empty list -->

						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="section secondary-content faq-header">

			<div class="container">
				
				<div class = "row">	
					<div class="col-xs-12">
						<h3 class="text-centered">
							Questions and Answers
						</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>

							<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>

							<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>
					</div>

					<div class="col-md-6">
						<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>

							<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>

							<p class="faq-text">
							<strong>Do you have a free trial?</strong>
							If you’d like a sneak peak into Treehouse, you can check out our introductory <a href="#">HTML</a>, <a href="#">Rails</a>, and <a href="#">Business</a> courses for free.
						</p>
					</div>

				</div>
			
				
			</div>

		</div>

		{{> footer}}
	</div>
</template>