<template name="splash">
	<div class="splashpage">
		<div class = 'splash'>


			<div class = "row">
				<div class="splash-header">
					{{>staticHeader}}
					<div class = "row">
						<div class="col-xs-12 col-sm-9 col-md-5 col-md-offset-1">
							<div class="header-content">
								<h1>
									<small>A better way to</small>
									<br>Share Information
								</h1>
								<p class="subheading">Maintain data in the cloud & witness your collaborations in real-time.</p>

								<button class="btn btn-lg btn-primary signin" data-toggle="modal" href="#myModal">Sign In</button>

								<button class="btn btn-lg btn-success signin">Learn More</button>
							</div>
						</div>
					</div>
				</div>
				


				<div class="splash-content">
					<div class="container">
					<!--Featurette -->
					<div class="row featurette">
						<div class="col-sm-5">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7">
							<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>

					</div>

					<hr class="featurette-divider">

					<!--Featurette -->
					<div class="row featurette">
						<div class="col-sm-5 col-sm-push-7">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7 col-sm-pull-5">
							<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>
					</div>

					<hr class="featurette-divider">
					<div class="row featurette">
						<div class="col-sm-5">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7">
							<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>

					</div>

					<hr class="featurette-divider">

				

				</div>
			</div>
			</div>

			{{> footer}}
		</template>