.splash-content {
 	padding-top:100px;
 	padding-bottom: 100px;
 	background-color:white;
 }

 .splash-content > .row{
 	margin-bottom:85px;
 	 margin-left:20px;
 	margin-right:20px;
 }

 .splash .row {
 	margin:0;
 }

 **
 * Splash Page
 */
 .splashpage {
 	margin-left:0px!important;
 	margin: 0 auto;
 	background-color:white;

 }

 .splash-nav {
 	text-transform: uppercase;
 	font-family: "Gotham SSmA", "Gotham SSmB", Helvetica, Arial;
 	height: 38px;
 	font-size: 14px;
 	line-height: 1.6;
 	list-style-position: outside;
 	direction: ltr;
 	margin: 15px 16px;
 	padding: 0 15px;
 }



 .splash-nav li a {
 	font-size:12px;
 	color: #fff!important;
 	font-family: "Gotham SSmA", "Gotham SSmB", Helvetica;
 	font-weight: bold;
 	text-decoration: none;
 	vertical-align: middle;
 }

 .splash-nav > li > a:hover, .nav-callout {
 	background-color:rgba(0,0,0,0.3)!important;
 }


 .logo {
 	margin: 0 auto;
 	text-align: center;
 	height: 40px;
 }

 .signup {
 }

 .signin {
 	padding: 10px 60px!important;
 }

 .signInButton {
 	padding-left:67px;
 	padding-right:67px;
 }

 .signupline {
 	color:#c3c3c3;
 	margin-top:16px;
 	font-size:14px;
 	line-height:19px;
 }

 .signUpInput {
 	margin-bottom: 10px;
 }

 .signupline{
 	margin-bottom: 10px;
 }

 .logo {
 	max-width:250px;
 }
 .splash{
 	margin:0 auto;

 }

 .brandName {
 	margin-bottom:20px;
 	 	color:white;

 }

 .submitSignIn {
 	margin-top: 10px;
 }

 .header-content{
	margin-top: 150px;
	margin-bottom:50px;

}

.header-content h1 {
	color: #666;
	display:block;
	margin-top:0;
	font-size: 54px;
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica;
}

.sticky {
	margin-bottom: 0px;
	border-radius: 0;
}

.pastNav {
	margin-top:86px;
}

.beforeNav {
	background: rgba(0, 0, 0, 1)!important;
}

.header-content h1 small {
	color: #666;
	margin-left: 3px;
	font-size: 26px;
	letter-spacing : -0.02em;
	margin-bottom: 25px;
	line-height: 0;
}

.header-content h1+.subheading {
	font-size: 22px;
	margin-bottom: 55px;
	color: rgba(30,30,30,0.6);
	padding-right: 160px;
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica;
}

.splash-header > .row {
	margin-left:20px;
	margin-right:0px;
}

.submitSignIn, .forgotPassword{
	text-align: center;
}

 .splash-header{
 	background-color: #0a0705;
	background-image: url(/img/mustang.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	margin : 0;
 }

 #splashWrapper {
 	width:100%;
 }
 @media only screen and (max-width: 1300px) {
     .splash-header{
	 	background-size:150%;

 }
}

@media only screen and (max-width: 768px) {
     .splash-header{
	 	background-color: #0a0705;
		background-image: url(/img/darkPattern.png);
		padding-bottom: 45px;

 }

	 .header-content h1{
	 	font-size: 32px;
	 }

	 .header-content h1 small {
	 	font-size: 20px;
	 	margin-bottom: 16px;
	 }

	h1+.subheading, .header-content h1+.subheading{
		font-size:19px;
	}

	.navbar-toggle {
		margin-top:15px;
	}

	.splash-nav {
		height : auto;
	}

	.header-content{
		margin-top:20px;
	}

}

@media only screen and (max-device-width: 768px) {
     .splash-header{
	 	background-color: #0a0705;
		background-image: url(/img/darkPattern.png);
		padding-bottom: 45px;

 }

	 .header-content h1{
	 	font-size: 32px;
	 }

	 .header-content h1 small {
	 	font-size: 20px;
	 	margin-bottom: 16px;
	 }

	h1+.subheading, .header-content h1+.subheading{
		font-size:19px;
	}

	.navbar-toggle {
		margin-top:15px;
	}

	.splash-nav {
		height : auto;
	}

	.header-content{
		margin-top:20px;
	}

}

.header-content .btn-learn {
	background-color: #CCCCCC!important;
}