<template name="notifications">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="fa fa-bell icon-animated-bell"></i>
		<span class="badge badge-important">{{notificationCount}}</span>
	</a>


	<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
		<li class="dropdown-header">
			<i class="fa fa-warning-sign"></i>
			{{notificationCount}} Notifications
		</li>
		{{#if notificationCount}}
      		{{#each notifications}}
        		{{> notification}}
      		{{/each}}
    	{{else}}
      		<li><span>No Notifications</span></li>
    	{{/if}}
		<li>
			<a href="#">
				See all notifications
				<i class="icon-arrow-right"></i>
			</a>
		</li>
	</ul>
</template>