<template name = "projectCreate">
 <form class="main">
        <div class="control-group">
            <label class="control-label" for="title">Project Title</label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Name your project"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Brief Description</label>
            <div class="controls">
                <textarea name="description" type="text" value=""/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>