<template name = "projectItem">
	<div class = "project">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{title}}</h3>
			</div>
			<div class="panel-body">
				<span class= "descriptionText">Description: {{description}}</span>
				<a class="btn btn-primary pull-right project-button" href="{{projectPagePath this}}">Enter Project</a>
				<a class="btn {{btnSubscribed}} pull-right project-button" id="subscribeButton">{{projectSubscribed}}</a>
				<span class="authorText"><p>Submitted by: {{author}}</p></span>
				<span class="authorText"><p><a id="updateButton">Update</a></p></span>
				
			</div>
		</div>
	</div>
</template>