<template name="footer">
	<!-- FOOTER -->

	<!--Footer-->

	<footer id="footer">
		<div class="row info">
			<div class="col-sm-6 residence">
				<ul>
					<li>Need Some Sort of Address</li>
					<li>Canada, Postal Code</li>
				</ul>
			</div>

			<div class="col-sm-5">
				<ul>
					<li><strong>P  </strong>204-738-4701</li>
					<li><strong>E </strong>inject@mts.net</li>
				</ul>
			</div>
		</div>

		<div class="row credits">
			<div class="col-md-12"> 
				<div class="row social">
					<div class="col-md-12">
						<a href="#" class="facebook">
							<span class="socialicons ico1"></span>
							<span class="socialicons_h ico1h"></span>
						</a>
						<a href="#" class="twitter">
							<span class="socialicons ico2"></span>
							<span class="socialicons_h ico2h"></span>
						</a>
						<a href="#" class="gplus">
							<span class="socialicons ico3"></span>
							<span class="socialicons_h ico3h"></span>
						</a>
						<a href="#" class="flicker">
							<span class="socialicons ico4"></span>
							<span class="socialicons_h ico4h"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Bottom -->
<div id="bottom">
	<!-- wrapper-bottom -->
	<div class="wrapper">
		<div class="main">
			<div id="bottom-text">&copy;2013 Injectronics All Rights Reserved.</div>
			<!-- Social -->
			<ul class="social_end">

				<li><a href="http://www.twitter.com" class="poshytip twitter" title="Follow our tweets"></a></li>



				<li><a href="http://www.youtube.com" class="poshytip youtube" title="View our videos"></a></li>
			</ul>
			<!-- ENDS Social -->
			<div id="to-top" class="poshytip" title="To top"></div>
		</div>
	</div>
	<!-- ENDS wrapper-bottom -->
</div>
<!-- ENDS Bottom -->
</template>