<template name="signInModal">
	<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

				<!-- Log In Dialog -->
				<div class="modal-dialog active logInModal">
					<div class="modal-content">
						<div class="modal-header login-header">
							<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Login to Injectronics</h4>
						</div>
						<div class="modal-body">
							<form method="post" id = "login_form" action='' name="login_form">
								<div class="row">
									<p><input type="text" class="col-xs-10 onSub" name="eid" id="email" placeholder="Email"></p>
								</div>
								<div class="row passwordLine">
									<p><input type="password" class="col-xs-10 onSub" name="passwd" id="passwd" placeholder="Password"></p>
								</div>
								<div class="row submitSignIn">

									<button type="button" class="btn btn-primary signInButton " id="logButton" data-dismiss="modal" aria-hidden="true">Sign in</button>
								</div>
								<div class="row forgotPassword">
									<a href="#" id = "forgot-btn" class="submitUnderText newPass">Forgot Password?</a>    
								</div>

							</form>

						</div>
						<div class="modal-footer login-footer">
							<span class="register"> <a href="#" class="registerAccount">Don't have an account yet? Register here</a></span>

						</div>
					</div><!-- /.modal-content -->
				</div><!-- /. Log-In modal-dialog -->

				<!-- Sign Up Modal -->

				<div class="modal-dialog signUpModal">
					<div class="modal-content">
						<div class="modal-header login-header">
							<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Sign up to Injectronics</h4>
						</div>
						<div class="modal-body">
							<form method="post" id = "login_form" action='' name="login_form">
								<div class="row">
									<p><input type="text" class="col-xs-10 onSub" name="sign-first-name" id="sign-first-name" placeholder="First Name"></p>
								</div>
								<div class="row">
									<p><input type="text" class="col-xs-10 onSub" name="sign-last-name" id="sign-last-name" placeholder="Last Name"></p>
								</div>
								<hr>
								<div class="row">
									<p><input type="text" class="col-xs-10 onSub" name="email" id="sign-email" placeholder="Email"></p>
								</div>
								<div class="row">
									<input type="password" class="col-xs-10 onSub" name="password" id="sign-password" placeholder="Password">
								</div>
								<div class="row">
									<p><input type="password" class="col-xs-10 onSub" name="confirm-password" id="sign-confirm-password" placeholder="Repeat Password"></p>
								</div>
								<div class="row submitSignIn">

									<input type="submit" value = "Sign Up"class="btn btn-primary signInButton " id="signUpButton" data-dismiss="modal" aria-hidden="true"></input>
								</div>

							</form>

						</div>
						<div class="modal-footer login-footer">
							<span class="register"> <a href="#" class="returnLogin">Already have an account? Login here</a></span>

						</div>
					</div><!-- /.modal-content -->
				</div><!--End of Sign Up Modal -->


				<!--Forgot Password Modal -->

				<div class="modal-dialog newPassModal">
					<div class="modal-content">
						<div class="modal-header login-header">
							<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Forgot Password</h4>
						</div>
						<div class="modal-body">
							<form method="post" id = "login_form" action='' name="login_form">
								<div class="row passwordLine">
									<p><input type="password" class="col-xs-10 onSub" name="passwd" id="passwd" placeholder="Password"></p>
								</div>
								<div class="row submitSignIn">

									<button type="button" class="btn btn-primary signInButton " id="logButton" data-dismiss="modal" aria-hidden="true">Sign in</button>
								</div>
								<div class="row fogotPassword">
									<a href="#" class="returnLogin submitUnderText">Return to Login.</a>    
								</div>

							</form>

						</div>
						<div class="modal-footer login-footer">
							<span class="register"> <a href="#" class="registerAccount">Don't have an account yet? Register here</a></span>

						</div>
					</div><!-- /.modal-content -->
				</div><!--End of Password Modal -->


			</div><!-- /.modal -->
				


</template>