<template name="about">
	<div class="aboutPage">
		{{> staticHeader}}

<!-- This is the background of the header before the contact form -->
		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Plan the education you need through</small>
						Our Process
					</h2>
				</div>


			</div>

		</div>

		


		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
<!-- Header ends here -->


<div class="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contained featurette">
		<!--Process Section -->
	<div id="process">
		<div class="container">
			<div class="section_header">
				<h3>Our Process</h3>
			</div>

			<div class="row services_circles">
				<div class="col-sm-4 description">
					<div class="text active">
						<h4>Plan the Education you Need</h4>
						<p>Any service dealer must be able to diagnose and repair today's advanced vehicle systems to be successful in the future.</p>
					</div>

					<div class="text">
						<h4>Develop Your Skills</h4>
						<p>Each class utilizes a custom simulator to enable students to have "Hands On" experience during each class.</p>
					</div>

					<div class="text active">
						<h4>Learn for the Future</h4>
						<p>Use Injectronics Training as an oportunity to make certain you stay in touch with the future of automotive diagnostics and vehicle repair.</p>
					</div>
				</div>

				<div class="col-sm-7 areas">
					<div class="circle active" id="first_circle">
						<img src="img/plan.png">
						<span>Plan</span>
					</div>
					<div class="circle">
						<img src="img/design.png">
						<span>Develop</span>
					</div>
					<div class="circle last_circle">
						<img src="img/develop.png">
						<span>Learn</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<!-- About Us Section -->
	<div id="aboutus">
		
		<div class="container">

			<!-- Header -->
			<div class ="section_header">
					<h3>About Us</h3>			
			</div>		


			<!--About Us Content -->
			<div class="row">
					<div class="col-sm-6 intro">
						<h6>
							Injectronics has established a reputation for high impact, high quality technician training.
						</h6>

						<p>
							Injectronics was established in 1986 by John Vandenberg. Since its beginning, it has been offering a wide variety of continuing technical education programs for technicians needing skill upgrading.
							<br>
							<br>
							Injectronics delivered training to over 150 locations 5 classes per year in both Canada and the USA covering all aspects of car repairs in 2007. Each class utilizes a custom simulator to enable the students to have "Hands On" experience during each class. All courses and simulators are developed and manufactured in our own R & D Center.
						</p>
					</div>	

					<!-- FlexSlider -->
					<div class="col-sm-6">
						<div class="flexslider">
							<ul class ="slides">
								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide1.jpg" alt=""></li>

								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide2.jpg" alt=""></li>

								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"><img src="img/slide3.jpg" alt=""></li>
							</ul>

						</div>
					</div>
			</div>	
		</div>
	</div>


	<!-- Team Section -->
	<div id="team">
		<div class="container">
			<div class="section_header">
				<h3>Meet our Team</h3>
			</div>
			<div class="row people">
				<div class="row row1">
					<div class="col-sm-6 bio_box">
						<img src="img/ale.png">
						<div class="info">
							<p class="name">John Vanderberg</p>
							<p class="area">Founder</p>
							<a href="#" class="facebook">
								<span class="socialicons ico1"></span>
								<span class="socialicons_h ico1h"></span>
							</a>
							<a href="#" class="twitter">
								<span class="socialicons ico2"></span>
								<span class="socialicons_h ico2h"></span>
							</a>
							<a href="#" class="gplus">
								<span class="socialicons ico3"></span>
								<span class="socialicons_h ico3h"></span>
							</a>
							<a href="#" class="flicker">
								<span class="socialicons ico4"></span>
								<span class="socialicons_h ico4h"></span>
							</a>
						</div>
					</div>
					<div class="col-sm-6 bio_box bio_boxr">
						<img src="img/ale.png">
						<div class="info">
							<p class="name">John Vanderberg</p>
							<p class="area">Founder</p>
							<a href="#" class="facebook">
								<span class="socialicons ico1"></span>
								<span class="socialicons_h ico1h"></span>
							</a>
							<a href="#" class="twitter">
								<span class="socialicons ico2"></span>
								<span class="socialicons_h ico2h"></span>
							</a>
							<a href="#" class="gplus">
								<span class="socialicons ico3"></span>
								<span class="socialicons_h ico3h"></span>
							</a>
							<a href="#" class="flicker">
								<span class="socialicons ico4"></span>
								<span class="socialicons_h ico4h"></span>
							</a>
						</div>
					</div>

				</div>

				<div class="row row1">
					<div class="col-sm-6 bio_box">
						<img src="img/ale.png">
						<div class="info">
							<p class="name">John Vanderberg</p>
							<p class="area">Founder</p>
							<a href="#" class="facebook">
								<span class="socialicons ico1"></span>
								<span class="socialicons_h ico1h"></span>
							</a>
							<a href="#" class="twitter">
								<span class="socialicons ico2"></span>
								<span class="socialicons_h ico2h"></span>
							</a>
							<a href="#" class="gplus">
								<span class="socialicons ico3"></span>
								<span class="socialicons_h ico3h"></span>
							</a>
							<a href="#" class="flicker">
								<span class="socialicons ico4"></span>
								<span class="socialicons_h ico4h"></span>
							</a>
						</div>
					</div>
					<div class="col-sm-6 bio_box bio_boxr">
						<img src="img/ale.png">
						<div class="info">
							<p class="name">John Vanderberg</p>
							<p class="area">Founder</p>
							<a href="#" class="facebook">
								<span class="socialicons ico1"></span>
								<span class="socialicons_h ico1h"></span>
							</a>
							<a href="#" class="twitter">
								<span class="socialicons ico2"></span>
								<span class="socialicons_h ico2h"></span>
							</a>
							<a href="#" class="gplus">
								<span class="socialicons ico3"></span>
								<span class="socialicons_h ico3h"></span>
							</a>
							<a href="#" class="flicker">
								<span class="socialicons ico4"></span>
								<span class="socialicons_h ico4h"></span>
							</a>
						</div>
					</div>

				</div>
				</div>
			</div>
			
		</div>



	
	{{> footer}}
</div>

	


</template>