html {
    min-height: 100%;
    position: relative;
}

body {
    padding-bottom: 0;
    background-color: #e4e6e9;
    min-height: 100%;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
}

body.navbar-fixed {
    padding-top: 45px;
}

body.breadcrumbs-fixed {
    padding-top: 86px;
}

.main-container {
    position: static;
    padding: 0;
}

.main-container:after {
    background-color: #FFF;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}

@media(min-width:768px) {
    .container.main-container:after {
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    }
}

.main-container>.main-container-inner {
    position: relative;
}

.container.main-container .sidebar.sidebar-fixed,.container.main-container .sidebar.sidebar-fixed:before {
    left: auto;
}

.main-content {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}

.page-content {
    background: #fff;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px;
}

.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
}

.page-header h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #8089a0;
}

[class*=" icon-"],[class^="icon-"] {
    display: inline-block;
    text-align: center;
}

a:focus,a:active {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.smaller {
    font-size: 31px;
}

h1.bigger {
    font-size: 33px;
}

h1.block {
    margin-bottom: 16px;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2.smaller {
    font-size: 25px;
}

h2.bigger {
    font-size: 27px;
}

h2.block {
    margin-bottom: 16px;
}

h3 {
    font-size: 22px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3.smaller {
    font-size: 21px;
}

h3.bigger {
    font-size: 23px;
}

h3.block {
    margin-bottom: 16px;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4.smaller {
    font-size: 17px;
}

h4.bigger {
    font-size: 19px;
}

h4.block {
    margin-bottom: 16px;
}

h5 {
    font-size: 15px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h5.smaller {
    font-size: 14px;
}

h5.bigger {
    font-size: 16px;
}

h5.block {
    margin-bottom: 16px;
}

h6 {
    font-size: 13px;
    font-weight: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h6.smaller {
    font-size: 12px;
}

h6.bigger {
    font-size: 14px;
}

h6.block {
    margin-bottom: 16px;
}

ul,ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

ul.margin-5,ol.margin-5 {
    margin-left: 5px;
}

ul.margin-10,ol.margin-10 {
    margin-left: 10px;
}

ul.margin-15,ol.margin-15 {
    margin-left: 15px;
}

ul.margin-20,ol.margin-20 {
    margin-left: 20px;
}

li>ul,li>ol {
    margin-left: 18px;
}

.list-unstyled,.list-inline {
    margin-left: 0;
}

.list-unstyled>li>[class*="icon-"]:first-child,.list-inline>li>[class*="icon-"]:first-child {
    width: 18px;
    text-align: center;
}

.spaced>li {
    margin-top: 9px;
    margin-bottom: 9px;
}

.spaced2>li {
    margin-top: 15px;
    margin-bottom: 15px;
}

li.divider {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 0;
    font-size: 0;
}

.spaced>li.divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaced2>li.divider {
    margin-top: 8px;
    margin-bottom: 8px;
}

li.divider:before {
    content: "";
    display: inline-block;
}

blockquote,blockquote.pull-right {
    border-color: #e5eaf1;
}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top-color: #e4e9ee;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eff3f8;
}

.modal-header .close {
    font-size: 32px;
}

.well {
    border-radius: 0;
}

.well h1,.well h2,.well h3,.well h4,.well h5,.well h6 {
    margin-top: 0;
}

.well h1,.well h2,.well h3 {
    line-height: 36px;
}

.alert {
    font-size: 14px;
    border-radius: 0;
}

.alert .close {
    font-size: 16px;
}

.alert-block p+p {
    margin-top: 10px;
}

.pagination>li>a,.pager>li>a,.pagination>li>span,.pager>li>span {
    border-width: 1px;
    border-radius: 0!important;
}

.pagination>li>a,.pager>li>a {
    color: #2283c5;
    background-color: #fafafa;
    margin: 0 -1px 0 0;
    border-color: #e0e8eb;
}

.pagination>li>a:hover,.pager>li>a:hover {
    background-color: #eaeff2;
}

.pagination>li>a:focus,.pager>li>a:focus {
    background-color: #eaeef2;
}

.pagination>li.disabled>a,.pagination>li.disabled>a:hover,.pager>li.disabled>a,.pager>li.disabled>a:hover {
    background-color: #f9f9f9;
    border-color: #d9d9d9;
}

.pagination>li.active>a,.pagination>li.active>a:hover {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.list-group-item {
    border-radius: 0!important;
}

.lighter {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

.inline {
    display: inline-block!important;
}

.block {
    display: block!important;
}

.center,.align-center {
    text-align: center!important;
}

.align-left {
    text-align: left!important;
}

.align-right {
    text-align: right!important;
}

.middle {
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle!important;
}

.align-top {
    vertical-align: top!important;
}

.align-bottom {
    vertical-align: bottom!important;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.line-height-normal {
    line-height: normal!important;
}

.line-height-1 {
    line-height: 1!important;
}

.dark {
    color: #333!important;
}

.white {
    color: #fff!important;
}

.red {
    color: #dd5a43!important;
}

.light-red {
    color: #f77!important;
}

.blue {
    color: #478fca!important;
}

.light-blue {
    color: #93cbf9!important;
}

.green {
    color: #69aa46!important;
}

.light-green {
    color: #b0d877!important;
}

.orange {
    color: #ff892a!important;
}

.light-orange {
    color: #fcac6f!important;
}

.orange2 {
    color: #feb902!important;
}

.purple {
    color: #a069c3!important;
}

.pink {
    color: #c6699f!important;
}

.pink2 {
    color: #d6487e!important;
}

.brown {
    color: #a52a2a!important;
}

.grey {
    color: #777!important;
}

.light-grey {
    color: #bbb!important;
}

.bigger-110 {
    font-size: 110%;
}

.bigger-120 {
    font-size: 120%;
}

.bigger-130 {
    font-size: 130%;
}

.bigger-140 {
    font-size: 140%;
}

.bigger-150 {
    font-size: 150%;
}

.bigger-160 {
    font-size: 160%;
}

.bigger-170 {
    font-size: 170%;
}

.bigger-180 {
    font-size: 180%;
}

.bigger-190 {
    font-size: 190%;
}

.bigger-200 {
    font-size: 200%;
}

.bigger-210 {
    font-size: 210%;
}

.bigger-220 {
    font-size: 220%;
}

.bigger-230 {
    font-size: 230%;
}

.bigger-240 {
    font-size: 240%;
}

.bigger-250 {
    font-size: 250%;
}

.bigger-260 {
    font-size: 260%;
}

.bigger-270 {
    font-size: 270%;
}

.bigger-280 {
    font-size: 280%;
}

.bigger-290 {
    font-size: 290%;
}

.bigger-300 {
    font-size: 300%;
}

.bigger-125 {
    font-size: 125%;
}

.bigger-175 {
    font-size: 175%;
}

.bigger-225 {
    font-size: 225%;
}

.bigger-275 {
    font-size: 275%;
}

.smaller-90 {
    font-size: 90%;
}

.smaller-80 {
    font-size: 80%;
}

.smaller-70 {
    font-size: 70%;
}

.smaller-60 {
    font-size: 60%;
}

.smaller-50 {
    font-size: 50%;
}

.smaller-40 {
    font-size: 40%;
}

.smaller-30 {
    font-size: 30%;
}

.smaller-20 {
    font-size: 20%;
}

.smaller-75 {
    font-size: 75%;
}

.width-20 {
    width: 20%!important;
}

.width-25 {
    width: 25%!important;
}

.width-30 {
    width: 30%!important;
}

.width-35 {
    width: 35%!important;
}

.width-40 {
    width: 40%!important;
}

.width-45 {
    width: 45%!important;
}

.width-50 {
    width: 50%!important;
}

.width-55 {
    width: 55%!important;
}

.width-60 {
    width: 60%!important;
}

.width-65 {
    width: 65%!important;
}

.width-70 {
    width: 70%!important;
}

.width-75 {
    width: 75%!important;
}

.width-80 {
    width: 80%!important;
}

.width-85 {
    width: 85%!important;
}

.width-90 {
    width: 90%!important;
}

.width-95 {
    width: 95%!important;
}

.width-100 {
    width: 100%!important;
}

.width-48 {
    width: 48%!important;
}

.width-auto {
    width: auto!important;
}

.height-auto {
    height: auto!important;
}

.no-padding {
    padding: 0!important;
}

.no-padding-bottom {
    padding-bottom: 0!important;
}

.no-padding-top {
    padding-top: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

.no-border {
    border: 0;
}

.no-border-bottom {
    border-bottom: 0;
}

.no-border-top {
    border-top: 0;
}

.no-border-left {
    border-left: none;
}

.no-border-right {
    border-right: 0;
}

.no-underline {
    text-decoration: none!important;
}

.no-hover-underline:hover {
    text-decoration: none!important;
}

.no-shadow,.no-box-shadow {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.no-text-shadow {
    text-shadow: none!important;
}

.overflow-hidden {
    overflow: hidden!important;
}

.overflow-auto {
    overflow: auto!important;
}

.overflow-scroll {
    overflow: scroll!important;
}

.overflow-visible {
    overflow: visible!important;
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-top: 1px solid #e3e3e3;
    margin: 12px 0;
}

.hr-double {
    height: 3px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.hr.dotted,.hr-dotted {
    border-top-style: dotted;
}

.hr-double.dotted {
    border-bottom-style: dotted;
}

.hr-32,.hr32 {
    margin: 32px 0;
}

.hr-30,.hr30 {
    margin: 30px 0;
}

.hr-28,.hr28 {
    margin: 28px 0;
}

.hr-26,.hr26 {
    margin: 26px 0;
}

.hr-24,.hr24 {
    margin: 24px 0;
}

.hr-22,.hr22 {
    margin: 22px 0;
}

.hr-20,.hr20 {
    margin: 20px 0;
}

.hr-18,.hr18 {
    margin: 18px 0;
}

.hr-16,.hr16 {
    margin: 16px 0;
}

.hr-14,.hr14 {
    margin: 14px 0;
}

.hr-12,.hr12 {
    margin: 12px 0;
}

.hr-10,.hr10 {
    margin: 10px 0;
}

.hr-8,.hr8 {
    margin: 8px 0;
}

.hr-6,.hr6 {
    margin: 6px 0;
}

.hr-4,.hr4 {
    margin: 4px 0;
}

.hr-2,.hr2 {
    margin: 2px 0;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}

.vspace-xs,.vspace-sm,.vspace-md,.vspace-lg {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    display: none;
    margin: 12px 0;
}

.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px;
}

.vspace-32,.vspace-xs-32,.vspace-sm-32,.vspace-md-32,.vspace-lg-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px 0;
}

.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px;
}

.vspace-30,.vspace-xs-30,.vspace-sm-30,.vspace-md-30,.vspace-lg-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px 0;
}

.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 28px 0 27px;
}

.vspace-28,.vspace-xs-28,.vspace-sm-28,.vsp