/* CSS declarations go here */

.sidebar-collapse:before{
	border-top: 0!important;
}

.page-content{
	background-color:rgba(230,230,230,.6)!important;
	height:100%;
}

html,body{
	height:100%;
}

.main-container{
	background-color:rgba(230,230,230,.6)!important;
	height:100%;
}

.main-container:after {
	background-color:transparent!important;
}

.breadcrumbs {
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}


/**
 * Splash Page
 */
.splashpage {
	margin-left:0px!important;
	text-align:center;
	margin: 0 auto;
}

.logo {
	margin: 0 auto;
	text-align: center;
}

.signup {
	text-align: center;
}

.signin {
	padding: 10px 60px!important;
}

.signInButton {
	padding-left:67px;
	padding-right:67px;
}

.signupline {
	color:#c3c3c3;
	margin-top:16px;
	font-size:14px;
	line-height:19px;
}

.signUpInput {
	margin-bottom: 10px;
}

.signupline{
	margin-bottom: 10px;
}

.logo {
		max-width:250px;
	}
.splash{
		margin:0 auto;

	}

.brandName {
	margin-bottom:20px;
	
}

.logInModal {
	width: 400px;
}

.passwordLine {
	margin-top:10px;
}

.submitSignIn {
	margin-top: 10px;
}

.brandName h2{
	font-family: Lato, sans seriff;
}

@media (min-width: 400px){
	.splash{
		margin-top:25px;

	}

}

@media (min-width: 992px){
	.splash{
		margin-top:100px ;

	}

}


@media (min-width: 1200px){
	.splash{
		margin-top:200px;

	}

}

/**
 * Dashboard
 */

.dashboard {
	margin-top: 20px;
}

@media (min-width: 768px){
	.dashboard .container{
		max-width:992px;
	}

	.dashboard .col-sm-3, .dashboard .col-sm-9 {
		padding-right:0px;
		padding-left:5px;
	}

	.dashboard .row {
		margin-right: auto;
	}
}

@media (min-width: 1200px){
	.dashboard .container{
		max-width:1170px;
	}

	.dashboard .col-sm-3, .dashboard .col-sm-9 {
		padding-right:0px;
		padding-left:5px;
	}

	.dashboard .row {
		margin-right: auto;
	}
}

@media (max-width: 2200px){
	.dashboard .container{
		max-width:2170px;
	}

	.dashboard .col-sm-3, .dashboard .col-sm-9 {
		padding-right:0px;
		padding-left:5px;
	}

	.dashboard .row {
		margin-right: auto;
	}
}

.thumbnail{
	width:50px;
	height:50px;
	margin-left:10px;
}

.profileData {
	margin-left:10px;
}

.theDate {
	color:#AAAAAA;
}

.unsubscribe {
	margin-left:10px;
}

.postContent{
	margin-top:10px;
}

.userTitle {
	color: #999999;
	font-weight:bold;
	text-align:center;
}

.miniTitle {
	color:#999999;
}