/* CSS declarations go here */

.sidebar-collapse:before{
	border-top: 0!important;
}

.page-content{
	background-color:rgba(230,230,230,.6)!important;
	height:100%;
}

html,body{
	height:100%;
}

.main-container{
	background-color:rgba(230,230,230,.6)!important;
	height:100%;
}

.main-container:after {
	background-color:transparent!important;
}

.breadcrumbs {
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}