<template name = "accountManagement">
	<div class = "container">
		<input type="password" class="col-sm-12 signUpInput" name="password" id="sign-password" placeholder="Password">
		
		<input type="password" class="col-sm-12 signUpInput" name="confirm-password" id="sign-confirm-password" placeholder="Confirm Password">
		

		<input type="text" class="col-sm-12 signUpInput" name="first-name" id="last-name" placeholder="First Name">

		<input type="text" class="col-sm-12 signUpInput" name="last-name" id="first-name" placeholder="Last Name">

		<button class="btn btn-lg btn-danger" >Change Passwords</button>
		
		<button class="btn btn-lg btn-primary" >Update Profile</button>

	</div>




</template>	