.staticHeader .nav-brand {
	color:white;
}

@media (min-width: 1200px) {

	.staticHeader {
		margin-right: 100px!important;
	}
}

.splash-header .navbar {
z-index: 1000;
min-height: 50px;
border: 1px solid transparent;
background : transparent;
color:white;
padding-bottom:15px;
padding-top:15px;
-webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out; }
}

.navbar-toggle {
	color:white;
}

.icon-bar {
	color:white;
}


  .navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #585858; }
    .navbar.navbar-inverse.navbar-static-top {
      background-color: #252528; }
      .navbar.navbar-inverse.navbar-static-top .container {
        margin-top: 0;
        margin-bottom: 0; }
    .navbar.navbar-inverse .nav > li > a {
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      opacity: .6;
      filter: alpha(opacity=60);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      transition: all .2s linear;
      padding: 10px 15px 10px;
      text-decoration: none; }
      .navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
        color: #fff;
        opacity: 1;
        filter: alpha(opacity=100); }
    .navbar.navbar-inverse .nav > li.active > a {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
      background-color: transparent; }
      .navbar.sticky {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #252525; 
    padding-bottom:0px;
    padding-top:0px;
    -webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out; }
}
    .navbar.sticky .container {
      margin-top: 0px !important;
      margin-bottom: 0px !important; 
  }

  .navbar .container {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out; }
    .navbar .container .navbar-header .navbar-brand {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;
      margin-left: -20px;
      padding: 10px 20px 10px; }
    .navbar .container .collapse .nav .dropdown .caret {
      margin-bottom: 4px; }
    .navbar .container .collapse .nav .dropdown .dropdown-menu {
      background: #252528;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-top: 2px; }

.nav-brand {
	padding-top:0px !important;
	margin-top: 15px;
	line-height:1.6;
}