<template name="contactUs">
	<div class="contactUsPage">
		{{> staticHeader}}
<!-- This is the background of the header before the contact form -->
		<div class="fullHeader">
			<div class="container">


				<div class="header">
					<h2>
						<small>Questions, concerns, feedback?</small>
						Fill out the form below
					</h2>
				</div>


			</div>

		</div>

		


		<div class="section plans-content overlap">
			<div class="container">
				<div class="plans-container">
					<div class="row">
<!-- Header ends here -->

		<div class="contactUs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contained featurette">
							
							<div class="row">
								<div class="col-xs-12 secondary-heading">
									<h1>Contact Support</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-7">
									
									<form action="contact_submit" role="form" class="new_contact_form" id="contact_form" method="post" accept-charset="utf-8">
										<div class="row">
											<div class="col-xs-12">

												<div class="form-group form-item">
													<input id="contact_form_name" name="contact_form[name]" size="30" type="text" class="text form-control" placeholder="Enter Name">
												</div>

											</div>	
										</div>

										<div class="row">
											<div class="col-xs-12">
												<div class="form-group form-item">
													<input id="contact_form_email" name="contact_form[email]" size="30" type="text" class="text form-control" placeholder="Enter Email">
												</div>

											</div>	
										</div>

										<div class="row">
											<div class="col-xs-12">

												<div class="form-group form-item">
													<input id="contact_form_phone_number" name="contact_form[phone_number]" size="30" type="text" class="text form-control" placeholder="Enter Phone Number">
												</div>

											</div>	
										</div>

										<div class="row">
											<div class="col-xs-12">

												<textarea class="form-control area_control" placeholder="Message" rows="8"></textarea>

											</div>	
										</div>

										<div class="row">
											<div class="col-xs-12">
												<input type="submit" value="Send Message" class="btn btn-success submit_value">
											</div>
										</div>
									</form>
									
								</div>

								<div class="col-xs-4 col-md-offset-1">
									<div class="contact_info module">
										<div class="secondary-heading">
											<h3><span class="fa fa-laptop"></span> Email Us</h3>
										</div>
										
											<p>You can also email support requests to :</p>
											<div class="boldedEmail">
												help@injectronics.com
											</div>
										
									</div>

									<div class="module contact_info secondary-module contact-alternative">
										<div class="secondary-heading">
											<h3><span class="fa fa-comments"></span> Content questions?</h3>
										</div>
										<p>
											Don't forget you can start a discussion in the <a href="#">Forum</a>. Injectronics teachers and members are actively discussing topics from course material and other general teaching topics.
										</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
		</div>
		</div>
		</div>
		{{> footer}}
	</div>
</template>