<template name="dashboard-entry">
	<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<img src="img/avatar.png" class="thumbnail img-thumbnail col-xs-3">
								
								<div class="col-xs-9 profileData">
									<div class="row">
										<a href="#" class="toProfile">Art Vandelay</a>
									</div>
									<div class="row theDate">
										Posted On November 14th, 2013 at 10:45 PM.
									</div>
								</div>


							</div>
							<div class="postContent">
								Uploaded info about the addition to the guggenheimer. You know it didn't really take that long. 
							</div>


						</div>
						<div class="panel-footer">
							<div class="seeProject">
								<i class="fa fa-folder"></i>
								<a href="#">Go To Project</a>

								<span class="unsubscribe">
									<i class="fa fa-unlock"></i>
									<a href="#">Unsubscribe</a>
								</span>
							</div>
						</div>
					</div>
			</div>
</template>