<template name="splash">
	<div class="splashpage">
		<div class = 'splash'>


			<div class = "splash-header row pagination-centered">

				<div class="row">
				<div class = "col-md-3 col-sm-3 col-xs-12 signup">
					<h2><img class = "logo" src="img/cloud.png">
					<span class="brandName">Concloud</span></h2>


					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						
						<!-- Log In Dialog -->
						<div class="modal-dialog active logInModal">
							<div class="modal-content">
								<div class="modal-header login-header">
									<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Login to Concloud</h4>
								</div>
								<div class="modal-body">
									<form method="post" id = "login_form" action='' name="login_form">
										<div class="row">
											<p><input type="text" class="col-xs-10 onSub" name="eid" id="email" placeholder="Email"></p>
										</div>
										<div class="row passwordLine">
											<p><input type="password" class="col-xs-10 onSub" name="passwd" id="passwd" placeholder="Password"></p>
										</div>
										<div class="row submitSignIn">

											<button type="button" class="btn btn-primary signInButton " id="logButton" data-dismiss="modal" aria-hidden="true">Sign in</button>
										</div>
										<div class="row forgotPassword">
											<a href="#" id = "forgot-btn" class="submitUnderText newPass">Forgot Password?</a>    
										</div>

									</form>

								</div>
								<div class="modal-footer login-footer">
									<span class="register"> <a href="#" class="registerAccount">Don't have an account yet? Register here</a></span>
									
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /. Log-In modal-dialog -->

						<!-- Sign Up Modal -->

						<div class="modal-dialog signUpModal">
							<div class="modal-content">
								<div class="modal-header login-header">
									<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Sign up to Concloud</h4>
								</div>
								<div class="modal-body">
									<form method="post" id = "login_form" action='' name="login_form">
										<div class="row">
											<p><input type="text" class="col-xs-10 onSub" name="sign-first-name" id="sign-first-name" placeholder="First Name"></p>
										</div>
										<div class="row">
											<p><input type="text" class="col-xs-10 onSub" name="sign-last-name"" id="sign-last-name"" placeholder="Last Name"></p>
										</div>
										<hr>
										<div class="row">
											<p><input type="text" class="col-xs-10 onSub" name="email" id="sign-email" placeholder="Email"></p>
										</div>
										<div class="row">
											<input type="password" class="col-xs-10 onSub" name="password" id="sign-password" placeholder="Password">
										</div>
										<div class="row">
											<p><input type="password" class="col-xs-10 onSub" name="confirm-password" id="sign-confirm-password" placeholder="Repeat Password"></p>
										</div>
										<hr>
										<div class="row">
											<p><input type="text" class="col-xs-10 onSub" name="template-code" id="sign-template-code" placeholder="Repeat Password"></p>
										</div>
										<div class="row submitSignIn">

											<input type="submit" class="btn btn-primary signInButton " id="signUpButton" data-dismiss="modal" aria-hidden="true">Sign Up</button>
										</div>

									</form>

								</div>
								<div class="modal-footer login-footer">
									<span class="register"> <a href="#" class="returnLogin">Already have an account? Login here</a></span>
									
								</div>
							</div><!-- /.modal-content -->
						</div><!--End of Sign Up Modal -->


						<!--Forgot Password Modal -->

						<div class="modal-dialog newPassModal">
							<div class="modal-content">
								<div class="modal-header login-header">
									<button type="button" class="close close-me" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Forgot Password</h4>
								</div>
								<div class="modal-body">
									<form method="post" id = "login_form" action='' name="login_form">
										<div class="row passwordLine">
											<p><input type="password" class="col-xs-10 onSub" name="passwd" id="passwd" placeholder="Password"></p>
										</div>
										<div class="row submitSignIn">

											<button type="button" class="btn btn-primary signInButton " id="logButton" data-dismiss="modal" aria-hidden="true">Sign in</button>
										</div>
										<div class="row fogotPassword">
											<a href="#" class="returnLogin submitUnderText">Return to Login.</a>    
										</div>

									</form>

								</div>
								<div class="modal-footer login-footer">
									<span class="register"> <a href="#" class="registerAccount">Don't have an account yet? Register here</a></span>
									
								</div>
							</div><!-- /.modal-content -->
						</div><!--End of Password Modal -->


					</div><!-- /.modal -->
				</div>

				<div class="col-xs-12 col-sm-9">

					<!-- Text Infront of Image -->
					<ul class="splash-nav pull-right-md nav nav-pills">
						<li>
							<a href="#" class="gray">Contact</a>
						</li>
						<li>
							<a href="#" class="gray">History</a>
						</li>
						<li>
							<a href="#" class="gray">F.A.Q.</a>
						</li>
						<li>
							<a href="#" class="nav-callout">Sign In</a>
						</li>
					</ul>
				</div>
			</div>
				<div class = "row">
				<div class="col-xs-12 col-sm-9 col-md-5">
					<div class="header-content">
						<h1>
							<small>A better way to</small>
							<br>Share Information
						</h1>
						<p class="subheading">Maintain data in the cloud & witness your collaborations in real-time.</p>

						<button class="btn btn-lg btn-primary signin" data-toggle="modal" href="#myModal">Sign In</button>

						<button class="btn btn-lg btn-default signin">Learn More</button>
					</div>
				</div>
			</div>
			</div>


				<div class="splash-content">
					<!--Featurette -->
					<div class="row featurette">
						<div class="col-sm-5">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7">
							<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>
						
					</div>

					<hr class="featurette-divider">

					<!--Featurette -->
					<div class="row featurette">
						<div class="col-sm-5 col-sm-push-7">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7 col-sm-pull-5">
							<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>
					</div>

					<hr class="featurette-divider">
					<div class="row featurette">
						<div class="col-sm-5">
							<img class="featurette-image img-responsive" src="img/featurette.png" alt="500x500">
						</div>
						<div class="col-sm-7">
							<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
							<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
						</div>
						
					</div>

					<hr class="featurette-divider">

					<!-- FOOTER -->
					<footer>
						<p class="pull-right"><a href="#">Back to top</a></p>
						<p>© 2013 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
					</footer>

				</div>
			</div>
		</template>